body {
			background: #222;
			color: #eee;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		a { color: #FF6eC7; }

		h1, h2, h3, h4, h5, h6 {
			text-decoration: underline;
			text-underline-offset: 10px;
		}

		p { font-size: 1.2em; }

		#container { width: 80%; }

		.highlight {
			font-weight: bold;
			color: #4666ff;
			border: solid 1px #4666ff;
			border-radius: 5px;
			padding: 5px;
		}

		.highlight pre { border: none; }

		.highlighter-rouge { color: #00ff41; }

